node_modules
build
.vscode
mta.jar
.che
.env
static_server
gen/
edmx/
schema.sql
*.db
default-env.json

bin/
target/
.classpath
.project
.settings

node/
node_modules/

.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz